.netflix-logo {
  height: 2.5rem;
  color: #98fb98;
  fill: currentColor;
  display: block;
}

#category-list-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#category-list-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
